// $danger:darkred;
$dark: #00494d; // theme-color: #589195;
$primary: #26c0ab;
$secondary: #5e7a7d;
$info: #c5e4e7;
$light: #f4fafa;
$text-muted: #7f9c9f
// $danger: #f04726; // --body-color: #7f8495;
// --heading-color: #34394c;